* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "feather-bold";
  src: url(feather_bold_by_typicalbro44_dee263c.ttf);
}
body {
  background: url("https://www.justuno.com/wp-content/uploads/2022/12/image2-2.jpg");
  background-size: 100%;
  background-position: bottom -225px right 0px;
  font-family: "feather-bold";
}
.content-container {
  overflow: hidden;
  width: 318px;
  height: 685px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 100px auto;
  padding: 18px;
}
.close-btn {
  width: 20px;
  height: 20px;
  font-size: 44px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border: 0;
  margin: -8px 0px 0px -4px;
  border-radius: 20px;
  color: #b2b2b2ff;
}
.close-btn:hover {
  cursor: pointer;
}
.level-score-core {
  width: 75%;
  margin-top: 8px;
  margin-left: 10px;
  background-color: #e5e5e5ff;
  height: 18px;
  border-radius: 20px;
}
.level-score-indicator {
  width: 20%;
  z-index: 5;
  height: 18px;
  padding-top: 1.5px;
  background-color: #58cc02ff;
  border-radius: 20px;
}
.indicator-inner {
  height: 14px;
  width: 70%;
  background-color: #79d635ff;
  border-radius: 20px;
  margin-left: 12.5%;
}
.heart {
  margin-left: 5px;
}
.hearts-count {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 2px;
  color: #ff4b4bff;
}
.status-bar {
  display: flex;
}
.character {
  width: 120px;
}
.task {
  margin-top: 10px;
  user-select: none;
}
.char-block {
  display: flex;
}
.cloud {
  width: 120px;
  height: 80px;
  background: white;
  position: relative;
  border-radius: 20px;
  border: 2px solid #b2b2b2ff;
  margin: 70px 0px 0px 20px;
}
.designEl1 {
  width: 40px;
  height: 40px;
  border: 2px solid #b2b2b2ff;
  transform: rotate(30deg);
  border-radius: 4px;
  margin-left: -3px;
  margin-top: 15px;
  background: white;
}
.designEl2 {
  width: 116px;
  position: absolute;
  height: 76px;
  top: 0;
  background: white;
  border-radius: 20px;
  z-index: 10;
}
.cloud p {
  position: absolute;
  z-index: 20 !important;
  top: 15px;
  left: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 20px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #b2b2b2ff;
  user-select: none;
  cursor: pointer;
}

.user-answer-block1 {
  width: 100%;
  border-top: 2px solid #b2b2b2ff;
  height: 50px;
  padding: 4px 0px;
  display: flex;
}
.user-answer-block2 {
  width: 100%;
  border-top: 2px solid #b2b2b2ff;
  height: 50px;
  padding: 4px 0px;
  border-bottom: 2px solid #b2b2b2ff;
  display: flex;
}
.answer-cloud {
  width: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  font-weight: 500;
  margin-left: 6px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid #b2b2b2ff;
  border-bottom: 4px solid #b2b2b2ff;
  user-select: none;
  cursor: pointer;
}
.answers-container {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  flex-wrap: wrap;
  height: 120px;
  display: flex;
  justify-content: space-around;
}
.answer-container-cloud {
  width: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  font-weight: 500;
  margin-left: 6px;
  margin-top: 6px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid #b2b2b2ff;
  border-bottom: 4px solid #b2b2b2ff;
  user-select: none;
  cursor: pointer;
}
.ctrl-btn {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 16px;
  background-color: #58cc02ff;
  box-shadow: 0px 6px 5px 0px rgba(3, 96, 5, 0.75);
  color: #fff;
  letter-spacing: 1.2px;
  border: 0;
  font-family: "feather-bold";
  transition: 0.2s ease-in;
  margin-top: 60px;
  user-select: none;
}
.ctrl-btn:hover {
  cursor: pointer;
  box-shadow: none;
  height: 38px;
  margin-top: 65px;
}
@media screen and (max-width: 1670px) {
  body {
    background: url("https://img.myloview.ru/murals/pattern-seamless-texture-vector-background-abstract-geometric-design-modern-fabric-graphic-textile-white-line-backdrop-decoration-illustration-print-ornament-black-decor-retro-tile-repeat-element-art-400-101276542.jpg");
  }
  .content-container {
  margin: 10px auto;
}
}
.success-container {
  display: flex;
  width: 100%;
  background: #d7ffb8ff;
  height: 110px;
  position: absolute;
  left: 0;
  bottom: -110px;
  transition: 0.3s ease-in;
}
.success-bird {
  margin: 20px 0px 0px 18px;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.success-bird img {
  display: block;
  margin: 16px auto;
}
.antiFlex {
  height: 200px;
  margin: 20px 0px 0px 89px;
}
.antiFlex h2 {
  font-size: 25px;
  color: #58a700ff;
}
.ctrl-btn2 {
  width: 70%;
  height: 30px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 16px;
  background-color: #58cc02ff;
  box-shadow: 0px 6px 5px 0px rgba(3, 96, 5, 0.75);
  color: #fff;
  letter-spacing: 1.2px;
  border: 0;
  margin-top: 5px;
  font-family: "feather-bold";
  transition: 0.2s ease-in;
  user-select: none;
}
.ctrl-btn2:hover {
  cursor: pointer;
  box-shadow: none;
  height: 28px;
  margin-top: 10px;
}

.failed-container {
  display: flex;
  width: 100%;
  background: #ffdfe0ff;
  height: 110px;
  position: absolute;
  bottom: -110px;
  left: 0;
  transition: 0.3s ease-in;
}
.failed-bird {
  margin: 20px 0px 0px 18px;
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.failed-bird img {
  display: block;
  margin: 16px auto;
}
.failedFlex {
  height: 200px;
  margin: 8px 0px 0px 89px;
}
.failedFlex h2 {
  color: #ea2b2bff;
  font-size: 23px;
}
.failedFlex p {
  color: #ea2b2bff;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}
.ctrl-btn3 {
  width: 70%;
  height: 30px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 16px;
  background-color: rgba(234, 43, 43, 1);
  box-shadow: 0px 6px 5px 0px rgba(234, 43, 43, 0.75);
  color: #fff;
  letter-spacing: 1.2px;
  border: 0;
  margin-top: 5px;
  font-family: "feather-bold";
  transition: 0.2s ease-in;
  user-select: none;
}
.ctrl-btn3:hover {
  cursor: pointer;
  box-shadow: none;
  height: 28px;
  margin-top: 10px;
}
